
body {
  background: #f9f9f9;
  font-family: 'Microsoft Yahei';
}
svg{
  overflow: visible;
}
.axis path, .axis line{  
  fill: none;  
  stroke: black;  
  /*shape-rendering: crispEdges;*/  
}         
.axis text {   
    font-size: 11px;  
}   
h1{
  text-align:center;
  color:#393939;
  font-size:3em;
  font-weight:100;
  margin:0px;
}
.chart {
  font-family: 'Microsoft Yahei';
  border-radius:5px;
  position:relative;
  /*min-height: 500px; */
  
  margin: 150px auto;
  display: block;
  /*border:1px solid #ccc;
  border-bottom:2px solid #8B96A3;*/
  background: rgba(255, 255, 255, 9);
  /*box-shadow: 0 0px 2px 0px #ccc;*/
}

/*.chart .nodes {
  position:absolute;
  display: flex;
  flex-direction: column; 
  height: 100%;
  padding: 0;
  margin: 0;
}*/
/*.chart .nodes li{
  text-align:right;
  font-size:18px;
  margin:5px 0px;
  color:#333;
}*/
.chart li{
  list-style: none;
  flex: 1;
  position:relative;
  padding:5px 0px;
}
.chart .duration {
  display: flex;
  flex-direction: column;
  position:absolute;
  padding: 0;
  margin: 0;
  height:100%;
  width: 100%;
}
.chart .duration .bar{
  width:0px;
  /*background:#47EAD4;*/
  padding:5px 0px;
  float:left;
  color:#333;
  /*overflow:hidden;*/
  /*text-align:center;*/
  text-align: left;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  min-height: 1em;
  cursor: pointer;
  trasition :opacity 0.6s ease-in-out,background 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out,background 0.6s ease-in-out; 
  -webkit-transition: opacity 0.6s ease-in-out,background 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out,background 0.6s ease-in-out; 
}
.chart .duration .bar span{
  position: absolute;
  padding-left: 15px;
}
.chart .duration .bar:nth-child(odd),#startTime {
    background:#fff;
    color:#fff;
}

.chart .duration .bar:nth-child(odd):hover{
    background:#0F1E26;
}
.chart .duration .bar:nth-child(even):hover{
    background:#fff;
}
#profession{
  background:#47EAD4;
  color:#333;
}
#profession,#startTime{
  padding:10px;
  display:inline-block;
  text-align:center;
}
.header{
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  background:#f9f9f9;
  border-bottom:1px solid #DEDEDE;
  box-shadow: 0 0px 6px 0px #858585;
}

.footer{
  position:absolute;
  top:-20%; 
  right:0px;
  color:#333;
  text-align: right;
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  
}

@media only screen and (min-width: 800px) {

}

@media only screen and (min-width: 1300px) {
  
}

@media only screen and (max-width: 500px) {
  
}

p{
  width:90%;
  margin:0px auto;
  text-align:center;
}



